.ListItem{
    width: max-content;
    border:1px solid grey;
    border-top: none;
    display: grid;
    grid-template-columns: min(100px) min(150px) min(150px);
    grid-template-rows: min(45px);
    column-gap: 10px;
    cursor: pointer;
    transition: 0.3s;

    span{
        align-self: center;
        justify-self: flex-start;
        font-size: 22px;
        color: grey;
    }
    :first-child{
        margin-left: 10px;
    }
    &:hover{
        background: rgba(1,1,1, .15);
    }
}
.active{
    background: rgba(1,1,1, .15);
}